main {
  width: 800px;
  border: 3px solid rgb(58, 58, 67);
  border-radius: 8px;
  margin: 50px auto;
  padding: 20px;
}

.content {
  border: 1px solid rgb(26, 26, 26);
  border-radius: 8px;
  margin: 20px auto;
  padding: 0px 24px;
}

.content div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content p {
  display: none;
}
